<div>
    <section class="banner-home">
        <div class="img-banner">
            <img alt="" title="" class="" th:src="@{/web/imgs/background/banner.png}">
        </div>
        <div class="container content-banner">
            <div class="text-banner">
                <h1 class="wow fadeInLeft delay02" style="visibility: visible; animation-name: fadeInLeft;">Tổng
                    công ty Công nghệ - Viễn thông Toàn Cầu (Gtel) </h1>
                <p class="desc wow fadeInLeft delay04" style="visibility: visible; animation-name: fadeInLeft;"></p>
                <p class="desc wow fadeInLeft delay04" style="visibility: visible; animation-name: fadeInLeft;"></p>
                <h3>
                    <span style="font-size:14px"><strong>►&nbsp;</strong>Tổng công ty GTEL là doanh nghiệp Công an nhân
                        dân, trực tiếp phục vụ quốc phòng, an ninh theo Quyết định số 1609/QĐ-TTg ngày 13/12/2023 của
                        Thủ tướng Chính phủ. Trong những năm qua, Tổng công ty GTEL vinh dự là một trong những đơn vị
                        tích cực đồng hành với Cục cảnh sát QLHC về TTXH triển khai các Mô hình của Đề án 06/CP. Tổng
                        công ty GTEL đã phối hợp đồng hành cùng Trung tâm Nghiên cứu ứng dụng dữ liệu dân cư và căn cước
                        công dân (Trung tâm RAR) triển khai, cung cấp Dịch vụ quản lý lưu trú ASM (Dịch vụ ASM) cho các
                        cơ sở lưu trú (CSLT) nhanh chóng, thuận tiện, quản lý hiệu quả việc khai báo thông tin lưu trú.
                    </span><br>
                    &nbsp;<p></p>
                    <!--                    <a class="btn-banner google-play smooth wow swing delay16" target="_blank" href="#"-->
                    <!--                        style="visibility: visible; animation-name: swing;">-->
                    <!--                        <img th:src="@{/web/imgs/icons/khach-hang-1678991530-wxpeo.png}" alt="Chorme" class="ff">-->
                    <!--                        <div class="ct-btn-banner">-->
                    <!--                            <span>Khách Hàng</span>-->
                    <!--                            <p>1.6 triệu </p>-->
                    <!--                        </div>-->
                    <!--                    </a>-->
                    <!--                    <a class="btn-banner app-store smooth wow swing delay16" target="_blank" href="#"-->
                    <!--                        style="visibility: visible; animation-name: swing;">-->
                    <!--                        <img th:src="@{/web/imgs/icons/don-hang-1678991683-hie8.png}" alt="Cốc Cốc" class="ff">-->
                    <!--                        <div class="ct-btn-banner">-->
                    <!--                            <span>Đơn Hàng</span>-->
                    <!--                            <p>10 Triệu USD</p>-->
                    <!--                        </div>-->
                    <!--                    </a>-->
                    <!--                    <a class="btn-banner app-store smooth wow swing delay16" target="_blank" href="/#"-->
                    <!--                        style="visibility: visible; animation-name: swing;">-->
                    <!--                        <img th:src="@{/web/imgs/icons/global-network-1678992021-zptms.png}" alt="Firefox" class="ff">-->
                    <!--                        <div class="ct-btn-banner">-->
                    <!--                            <span>Cung cấp</span>-->
                    <!--                            <p>64 tỉnh thành</p>-->
                    <!--                        </div>-->
                    <!--                    </a>-->
            </div>
            <img alt="" title="" class="ct-img-banner wow fadeInUp delay12"
                th:src="@{/web/imgs/background/mobile-banner.png}"
                style="transform: translate(7.16585px, -4.58032px) scale(1); visibility: visible; animation-name: fadeInUp;">
        </div>
    </section>
    <button class="btn-pri psy-btn btn-free px-3" href="#section5">
        <span class="mr-2">Liên hệ tư vấn</span>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
    <div class="content-home">
        <div class="container">
            <div class="ct-group" id="section1">
                <h2 class="title-group wow fadeInLeft" style="visibility: hidden; animation-name: none;">ASM -
                    HỆ THỐNG QUẢN LÝ LƯU TRÚ ASM</h2>
                <p class="desc-tl wow fadeInLeft delay02" style="visibility: hidden; animation-name: none;">Hệ thống
                    Quản lý lưu trú ASM cung cấp các tiện ích giúp Cơ sở lưu trú quản lý thông tin người lưu trú và
                    thông báo trực tuyến thông tin khách lưu trú đến cơ quan công an, đồng thời hỗ trợ nhanh chóng,
                    chính xác cho công tác quản lý của cán bộ Công an trong việc quản lý cơ sở lưu trú, khách lưu trú
                    trên địa bàn.
                </p>
                <div class="group-item">
                    <div class="item-detail wow fadeInRight delay02" style="visibility: hidden; animation-name: none;">
                        <div class="icon"><i class="fa fa-download" aria-hidden="true"></i></div>
                        <div class="detail">
                            <h3>Tích hợp tài khoản định danh điện tử của Bộ Công An</h3>
                            <!-- <span>Về thiết bị điện thoại auto call, SMS, Mobile app và TT chỉ huy của lực lượng Cảnh
                                sát PCCC và TT hỗ trợ cảnh báo cháy MSC-Gtel </span> -->
                        </div>
                    </div>
                    <div class="item-detail wow fadeInRight delay02" style="visibility: hidden; animation-name: none;">
                        <div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="detail">
                            <h3>Quản lý khách hàng và thực hiện nghĩa vụ thông báo lưu trú trong cùng 1 ứng dụng duy
                                nhất</h3>
                            <!-- <span>Hỗ trợ lọc báo cháy giả, giảm thời gian xác minh đám cháy. Giám sát trực tuyến hệ
                                thống PCCC cơ sở trên mobile.</span> -->
                        </div>
                    </div>
                    <div class="item-detail wow fadeInRight delay02" style="visibility: hidden; animation-name: none;">
                        <div class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
                        <div class="detail">
                            <h3>Hỗ trợ thông báo nhanh chóng, kịp thời, đúng quy định</h3>
                            <!-- <span>Hãy gọi cho chúng tôi và chuyên gia sẽ giúp bạn có mọi thứ bạn cần để giúp bảo vệ
                                ngôi nhà của bạn.</span> -->
                        </div>
                    </div>
                    <div class="item-detail wow fadeInRight delay02" style="visibility: hidden; animation-name: none;">
                        <div class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                        <div class="detail">
                            <h3>Liên thông dữ liệu với cổng dịch vụ công</h3>
                            <!-- <span> Giải pháp cho việc kiểm tra hệ thống báo cháy định kỳ. Triển khai quản lý trên
                                Mobile, ứng dụng mọi lúc mọi nơi</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-wrap-function">
            <div class="ct-group function" id="section2">
                <div class="container">
                    <h2 class="title-group wow fadeIn delay02" style="visibility: hidden; animation-name: none;">SẢN
                        PHẨM CỦA ASM </h2>
                    <p class="desc-tl wow fadeIn delay04 pb-3" style="visibility: hidden; animation-name: none;">Thiết
                        bị đọc
                        QRCode RAR-DTA RD23, giải mã thông tin trên thẻ CCCD</p>
                    <div class="function-wrap">
                        <div class="img-func wow fadeInUp delay06 d-flex justify-content-center"
                            style="visibility: hidden; animation-name: none;">
                            <img alt="SẢN PHẨM NỔI BẬT CỦA ASM " title="SẢN PHẨM NỔI BẬT CỦA ASM " class="vbm_img"
                                th:src="@{/web/imgs/products/g3-2.png}">
                        </div>
                        <div class="group-item">
                            <div class="item-detail wow fadeInDown delay04"
                                style="visibility: hidden; animation-name: none;">
                                <div class="icon smooth cc">1</div>
                                <div class="detail">
                                    <h3>Thông số cơ bản</h3>
                                    <span>Thiết bị quét QRCode được trang bị CPU : ARM 32-bit Cortex, Cảm biến : CMOS
                                        640*80, Đèn quét : 624nm LED, Tốc độ : 200 lần quét/ giây, Vật liệu : Nhựa ABS +
                                        PC </span>
                                </div>
                            </div>
                            <div class="item-detail wow fadeInDown delay04"
                                style="visibility: hidden; animation-name: none;">
                                <div class="icon smooth cc">2</div>
                                <div class="detail">
                                    <h3>Các loại mã được hố trợ: </h3>
                                    <span>
                                        - <b>1D</b> : UPC-A, UPC-E, EAN-8, EAN-13, Code 128, Code 39, Code 93, Code 11,
                                        Interleaved 2 of 5, Matrix 2 of 5, Standard 2 of 5, Coda bar, MSI Plessey, GS1,
                                        China Post <br />
                                        - <b>2D</b> : QR Code, Data Matrix, PDF417, Aztrec code, Maxicode, etc.
                                    </span>
                                </div>
                            </div>
                            <div class="item-detail wow fadeInDown delay04"
                                style="visibility: hidden; animation-name: none;">
                                <div class="icon smooth cc">3</div>
                                <div class="detail">
                                    <h3>Chế độ hoạt động: </h3>
                                    <span>Một lần, Liên tục, tự động</span>
                                </div>
                            </div>
                            <div class="btn-box-link">
                                <a class="btn btn-order" id="order-sp1" data-cart="" data-id="" data-price=""
                                    data-name="" data-qty="1"> Đặt hàng <i class="fa fa-cart-plus link-cart"
                                        aria-hidden="true"></i> </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ct-group function v2">
                <div class="container">
                    <div class="function-wrap">
                        <div class="group-item">
                            <div class="item-detail wow fadeInDown delay04"
                                style="visibility: hidden; animation-name: none;">
                                <div class="icon smooth cc">4</div>
                                <div class="detail">
                                    <h3>Hệ thống quản lý lưu trú ASM</h3>
                                    <span>Là giải pháp phần mềm quản lý và khai báo thông tin lưu trú, tích hợp các chức
                                        năng như: quản lý phòng/giường bệnh, quản lý chuỗi cơ sở, thiết lập bảng giá
                                        dịch vụ, khách lưu trú, khám chữa bệnh</span>
                                </div>
                            </div>
                            <div class="item-detail wow fadeInDown delay04"
                                style="visibility: hidden; animation-name: none;">
                                <div class="icon smooth cc">5</div>
                                <div class="detail">
                                    <h3>Hệ thống Quản lý lưu trú ASM</h3>
                                    <span>Cung cấp các tiện ích giúp Cơ sở lưu trú quản lý thông tin khách lưu trú và
                                        thông báo trực tuyến thông tin khách lưu trú đến cơ quan công an, đồng thời hỗ
                                        trợ nhanh chóng, chính xác cho công tác quản lý của cán bộ Công an trong việc
                                        quản lý cơ sở lưu trú, khách lưu trú trên địa bàn.
                                    </span>
                                </div>
                            </div>
                            <div class="item-detail wow fadeInDown delay04"
                                style="visibility: hidden; animation-name: none;">
                                <div class="icon smooth cc">6</div>
                                <div class="detail">
                                    <h3>Hệ thống Quản lý lưu trú ASM</h3>
                                    <span>Được kết nối, thông suốt dữ liệu với CSDLQG về dân cư giúp cho dữ liệu quản lý
                                        Cơ sở lưu trú được thống nhất, xuyên suốt tới từng cá nhân khách lưu trú, từng
                                        cơ sở lưu trú.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="img-func wow fadeInRight" style="visibility: hidden; animation-name: none;">
                            <img alt="Khi có tín hiệu cháy từ đầu báo cháy ( nhiệt hoặc khói )"
                                title="Khi có tín hiệu cháy từ đầu báo cháy ( nhiệt hoặc khói )" class="vbm_img"
                                th:src="@{/web/imgs/products/Picture1.png}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-group" id="section3">
            <div class="container paddingtop">
                <h2 class="title-group title-group--gia wow fadeInLeft delay02"
                    style="visibility: hidden; animation-name: none;">Bảng giá dịch vụ ASM</h2>
                <p class="desc-tl wow fadeInRight delay04" style="visibility: hidden; animation-name: none;">
                    Chính sách hỗ trợ <br> giảm 50% giá dịch vụ trong 6 tháng đầu sử dụng

                </p>
                <div class="group-price">
                    <div class="row">
                        <div class="col-lg-4 wow fadeInLeft delay04" style="visibility: hidden; animation-name: none;">
                            <div class="baogia_item baogia1">
                                <div class="tt_baogia text-center">Gói 12 tháng</div>
                                <div class="list_phi">
                                    <p><strong>Loại hình cơ sở lưu trú:</strong></p>

                                    <div class="content_baogiadv">
                                        <ul>
                                            <li>Nhà nghỉ & khách sạn 1 sao : 960.000 VNĐ</li>
                                            <li>Khách san 2 - 3 sao : 1.920.000 VNĐ</li>
                                            <li>Resort & Khách sạn 4 - 5 sao : 3.000.000 VNĐ</li>
                                        </ul>

                                    </div>

                                    <!-- <div class="content_baogiadv">
                                        <ul>
                                            <li>SMS: Gửi cảnh báo đến 5 số điện thoại.</li>
                                            <li>Truyền tin báo cháy về TT chỉ huy PCCC</li>
                                            <li>Thông tin của cơ sở có cháy được thể hiện trên màn hình giám sát
                                            </li>
                                            <li>Tổng quan hệ thống truyền tin cảnh báo cháy</li>
                                            <li>Liên tục cập nhật dữ liệu các tủ báo cháy&nbsp;</li>
                                            <li>Cơ chế dự phòng tự chuyển đổi đường truyền</li>
                                            <li>Có tính năng lưu trữ dữ liệu về server</li>
                                            <li>Kết nối nguồn dự phòng (pin, accu).</li>
                                        </ul>
                                    </div> -->
                                </div>
                                <a href="https://asmbca.vn/" class="dki_baogia text-center">ĐĂNG
                                    KÝ NGAY</a>
                            </div>
                        </div>
                        <div class="col-lg-4 wow fadeInLeft delay04" style="visibility: hidden; animation-name: none;">
                            <div class="baogia_item baogia2">
                                <div class="tt_baogia text-center">Gói 24 tháng</div>
                                <div class="list_phi">
                                    <p><strong>Loại hình cơ sở lưu trú:</strong></p>

                                    <div class="content_baogiadv">
                                        <ul>
                                            <li>Nhà nghỉ & khách sạn 1 sao : 1.680.000 VNĐ</li>
                                            <li>Khách san 2 - 3 sao : 3.600.000 VNĐ</li>
                                            <li>Resort & Khách sạn 4 - 5 sao : 5.760.000 VNĐ</li>
                                        </ul>

                                    </div>

                                    <!-- <div class="content_baogiadv">
                                        <ul>
                                            <li>SMS: Gửi cảnh báo đến 5 số điện thoại.</li>
                                            <li>Truyền tin báo cháy về TT chỉ huy PCCC</li>
                                            <li>Thông tin của cơ sở có cháy được thể hiện trên màn hình giám sát
                                            </li>
                                            <li>Tổng quan hệ thống truyền tin cảnh báo cháy</li>
                                            <li>Có khả năng kết nối đến 8 tủ báo cháy</li>
                                            <li>Liên tục cập nhật dữ liệu các tủ báo cháy&nbsp;</li>
                                            <li>Cơ chế dự phòng tự chuyển đổi đường truyền</li>
                                            <li>Có tính năng lưu trữ dữ liệu về server</li>
                                            <li>Kết nối nguồn dự phòng (pin, accu).</li>
                                        </ul>
                                    </div> -->
                                </div>
                                <a href="https://asmbca.vn/" class="dki_baogia text-center">ĐĂNG
                                    KÝ NGAY</a>
                            </div>
                        </div>
                        <div class="col-lg-4 wow fadeInLeft delay04" style="visibility: hidden; animation-name: none;">
                            <div class="baogia_item baogia3">
                                <div class="tt_baogia text-center">Gói 36 tháng</div>
                                <div class="list_phi">
                                    <p><strong>Loại hình cơ sở lưu trú:</strong></p>

                                    <div class="content_baogiadv">
                                        <ul>
                                            <li>Nhà nghỉ & khách sạn 1 sao : 2.160.000 VNĐ</li>
                                            <li>Khách san 2 - 3 sao : 5.040.000 VNĐ</li>
                                            <li>Resort & Khách sạn 4 - 5 sao : 8.280.000 VNĐ</li>
                                        </ul>

                                    </div>
                                </div>
                                <a href="https://asmbca.vn/" class="dki_baogia text-center">ĐĂNG
                                    KÝ NGAY</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="giaiphap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="title_gp">QUY TRÌNH SỬ DỤNG PHẦN MỀM </h2>
                        <ul>
                            <li>1. Đăng nhập vào phần mềm theo đường dẫn: https://asmbca.vn</li>
                            <li>2. Thiết lập các thông tin về phòng, sơ đồ, dịch vụ, nhân viên</li>
                            <li>3. Khách check-in</li>
                            <li>4. Khách sử dụng dịch vụ
                            </li>
                            <li>5. Khách Check-out
                            </li>
                            <li>6. Thông báo lưu trú
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="img_right">
                            <img th:src="@{/web/imgs/qtrinh2.jpg}"
                                alt="Quy trình Hoạt Động Thiết Bị Cảnh Báo Cháy GSafe ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ct-group" id="section10">

        <div class="ct-group_duAnDaLam">
            <div class="container">
                <h2 class="title-group wow fadeInDown" style="visibility: hidden; animation-name: none;">Các hệ
                    thống đã triển khai</h2>
                <div class="owl-container">
                    <div class="owl-wrapper owl-carousel owl-theme ">

                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/ht1.png}" alt="Hệ Thống Truyền Tin Cảnh Báo Cháy Nhanh GSafe">
                            <div class="mt">
                                Hệ Thống Truyền Tin Cảnh Báo Cháy Nhanh GSafe </div>
                        </a>

                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/hethong/he-thong-tuan-tra-tac-chien-dien-tu-1-1681944642-flzfb.png}"
                                alt="Hệ thống tuần tra tác chiến điện tử">
                            <div class="mt">
                                Hệ thống tuần tra tác chiến điện tử </div>
                        </a>
                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/hethong/giai-phap-giam-sat-camera-cong-cong-1681938624-pdo8u.png}"
                                alt="Giải pháp giám sát camera công cộng">
                            <div class="mt">
                                Giải pháp giám sát camera công cộng </div>
                        </a>
                        <a href="#/" target="_blank">
                            <img th:src="@{/web/imgs/ht1.png}" alt="Hệ Thống Truyền Tin Cảnh Báo Cháy Nhanh GSafe">
                            <div class="mt">
                                Hệ Thống Truyền Tin Cảnh Báo Cháy Nhanh GSafe </div>
                        </a>
                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/hethong/he-thong-tuan-tra-tac-chien-dien-tu-1-1681944642-flzfb.png}"
                                alt="Hệ thống tuần tra tác chiến điện tử">
                            <div class="mt">
                                Hệ thống tuần tra tác chiến điện tử </div>
                        </a>
                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/hethong/giai-phap-giam-sat-camera-cong-cong-1681938624-pdo8u.png}"
                                alt="Giải pháp giám sát camera công cộng">
                            <div class="mt">
                                Giải pháp giám sát camera công cộng </div>
                        </a>
                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/ht1.png}" alt="Hệ Thống Truyền Tin Cảnh Báo Cháy Nhanh GSafe">
                            <div class="mt">
                                Hệ Thống Truyền Tin Cảnh Báo Cháy Nhanh GSafe </div>
                        </a>
                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/hethong/he-thong-tuan-tra-tac-chien-dien-tu-1-1681944642-flzfb.png}"
                                alt="Hệ thống tuần tra tác chiến điện tử">
                            <div class="mt">
                                Hệ thống tuần tra tác chiến điện tử </div>
                        </a>
                        <a href="#" target="_blank">
                            <img th:src="@{/web/imgs/hethong/giai-phap-giam-sat-camera-cong-cong-1681938624-pdo8u.png}"
                                alt="Giải pháp giám sát camera công cộng">
                            <div class="mt">
                                Giải pháp giám sát camera công cộng </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                        aria-label="Previous">‹</span></button><button type="button" role="presentation"
                    class="owl-next"><span aria-label="Next">›</span></button></div>
        </div>
        <div class="box_tintuc" id="section5">
            <div class="container">
                <div class="tintuc-title">Tin Tức</div>
                <div class="slide_news owl-carousel owl-theme">
                    <div class="news-item">
                        <div class="news_item--img">
                            <img th:src="@{/web/imgs/news/camera-ai-1.jpg}" alt="Công nghệ AI cho Camera an ninh">
                        </div>
                        <div class="news_item--content">
                            <h3 class="news_item--contentTitle">
                                Công nghệ AI cho Camera an ninh </h3>
                            <div class="news_item--contentDesc">
                                Công nghệ trí tuệ nhân tạo (AI) đang được áp dụng rộng rãi trong nhiều
                                lĩnh vực khác nhau, trong đó có cả lĩnh vực an ninh. Với sự phát triển
                                của công nghệ AI, camera an ninh hiện nay có khả năng giám sát và phân
                                tích hình ảnh một cách chính xác hơn, giúp đảm bảo an ninh và giảm thiểu
                                tội phạm. </div>
                        </div>
                        <div class="xemthem"><a href="#">
                                Xem
                                chi tiết</a></div>
                    </div>


                    <div class="news-item">
                        <div class="news_item--img">
                            <img th:src="@{/web/imgs/news/camera-ai-1.jpg}" alt="Công nghệ AI cho Camera an ninh">
                        </div>
                        <div class="news_item--content">
                            <h3 class="news_item--contentTitle">
                                Công nghệ AI cho Camera an ninh </h3>
                            <div class="news_item--contentDesc">
                                Công nghệ trí tuệ nhân tạo (AI) đang được áp dụng rộng rãi trong nhiều
                                lĩnh vực khác nhau, trong đó có cả lĩnh vực an ninh. Với sự phát triển
                                của công nghệ AI, camera an ninh hiện nay có khả năng giám sát và phân
                                tích hình ảnh một cách chính xác hơn, giúp đảm bảo an ninh và giảm thiểu
                                tội phạm. </div>
                        </div>
                        <div class="xemthem"><a href="#">
                                Xem
                                chi tiết</a></div>
                    </div>


                    <div class="news-item">
                        <div class="news_item--img">
                            <img th:src="@{/web/imgs/news/camera-ai-1.jpg}" alt="Công nghệ AI cho Camera an ninh">
                        </div>
                        <div class="news_item--content">
                            <h3 class="news_item--contentTitle">
                                Công nghệ AI cho Camera an ninh </h3>
                            <div class="news_item--contentDesc">
                                Công nghệ trí tuệ nhân tạo (AI) đang được áp dụng rộng rãi trong nhiều
                                lĩnh vực khác nhau, trong đó có cả lĩnh vực an ninh. Với sự phát triển
                                của công nghệ AI, camera an ninh hiện nay có khả năng giám sát và phân
                                tích hình ảnh một cách chính xác hơn, giúp đảm bảo an ninh và giảm thiểu
                                tội phạm. </div>
                        </div>
                        <div class="xemthem"><a href="#">
                                Xem
                                chi tiết</a></div>
                    </div>

                    <div class="news-item">
                        <div class="news_item--img">
                            <img th:src="@{/web/imgs/news/camera-ai-1.jpg}" alt="Công nghệ AI cho Camera an ninh">
                        </div>
                        <div class="news_item--content">
                            <h3 class="news_item--contentTitle">
                                Công nghệ AI cho Camera an ninh </h3>
                            <div class="news_item--contentDesc">
                                Công nghệ trí tuệ nhân tạo (AI) đang được áp dụng rộng rãi trong nhiều
                                lĩnh vực khác nhau, trong đó có cả lĩnh vực an ninh. Với sự phát triển
                                của công nghệ AI, camera an ninh hiện nay có khả năng giám sát và phân
                                tích hình ảnh một cách chính xác hơn, giúp đảm bảo an ninh và giảm thiểu
                                tội phạm. </div>
                        </div>
                        <div class="xemthem"><a href="#">
                                Xem
                                chi tiết</a></div>
                    </div>

                    <div class="news-item">
                        <div class="news_item--img">
                            <img th:src="@{/web/imgs/news/camera-ai-1.jpg}" alt="Công nghệ AI cho Camera an ninh">
                        </div>
                        <div class="news_item--content">
                            <h3 class="news_item--contentTitle">
                                Công nghệ AI cho Camera an ninh </h3>
                            <div class="news_item--contentDesc">
                                Công nghệ trí tuệ nhân tạo (AI) đang được áp dụng rộng rãi trong nhiều
                                lĩnh vực khác nhau, trong đó có cả lĩnh vực an ninh. Với sự phát triển
                                của công nghệ AI, camera an ninh hiện nay có khả năng giám sát và phân
                                tích hình ảnh một cách chính xác hơn, giúp đảm bảo an ninh và giảm thiểu
                                tội phạm. </div>
                        </div>
                        <div class="xemthem"><a href="#">
                                Xem
                                chi tiết</a></div>
                    </div>

                    <div class="news-item">
                        <div class="news_item--img">
                            <img th:src="@{/web/imgs/news/camera-ai-1.jpg}" alt="Công nghệ AI cho Camera an ninh">
                        </div>
                        <div class="news_item--content">
                            <h3 class="news_item--contentTitle">
                                Công nghệ AI cho Camera an ninh </h3>
                            <div class="news_item--contentDesc">
                                Công nghệ trí tuệ nhân tạo (AI) đang được áp dụng rộng rãi trong nhiều
                                lĩnh vực khác nhau, trong đó có cả lĩnh vực an ninh. Với sự phát triển
                                của công nghệ AI, camera an ninh hiện nay có khả năng giám sát và phân
                                tích hình ảnh một cách chính xác hơn, giúp đảm bảo an ninh và giảm thiểu
                                tội phạm. </div>
                        </div>
                        <div class="xemthem"><a href="#">
                                Xem
                                chi tiết</a></div>
                    </div>

                    <div class="news-item">
                        <div class="news_item--img">
                            <img th:src="@{/web/imgs/news/camera-ai-1.jpg}" alt="Công nghệ AI cho Camera an ninh">
                        </div>
                        <div class="news_item--content">
                            <h3 class="news_item--contentTitle">
                                Công nghệ AI cho Camera an ninh </h3>
                            <div class="news_item--contentDesc">
                                Công nghệ trí tuệ nhân tạo (AI) đang được áp dụng rộng rãi trong nhiều
                                lĩnh vực khác nhau, trong đó có cả lĩnh vực an ninh. Với sự phát triển
                                của công nghệ AI, camera an ninh hiện nay có khả năng giám sát và phân
                                tích hình ảnh một cách chính xác hơn, giúp đảm bảo an ninh và giảm thiểu
                                tội phạm. </div>
                        </div>
                        <div class="xemthem"><a href="#">
                                Xem
                                chi tiết</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="ct-group psy-section" id="section6">
                <h2 class="title-group wow fadeInUp" style="visibility: hidden; animation-name: none;">Sở Hữu
                    Ngay Thiết Bị Quét QRCode RAR-DTA RD23</h2>
                <p class="desc-tl wow fadeInDown delay04" style="visibility: hidden; animation-name: none;">Đăng
                    ký ngay để quản lý đơn hàng, khách hàng một cách đơn giản hơn</p>
                <div class="group-support row">
                    <div class="col-lg-6 wow fadeInLeft delay06" style="visibility: hidden; animation-name: none;">
                        <h4 class="title-footer">Tổng công ty Công nghệ - Viễn thông Toàn Cầu (Gtel) </h4>
                        <div class="">
                            <p>Cám ơn Quý Khách đã quan tâm tới dịch vụ của chúng tôi, Quý Khách vui lòng liên
                                hệ trực tiếp tại bất kỳ chi nhánh thành viên gần nhất hoặc liên hệ với Phòng
                                Dịch Vụ Khách Hàng để được trợ giúp thêm về thông tin dịch vụ, qui trình thiết
                                kế, xây dựng v.v...</p>

                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight delay08" style="visibility: hidden; animation-name: none;">
                        <form method="post" class="validate form-horizontal form-contact row" role="form"
                            id="form_contact" enctype="multipart/form-data">
                            <div class="alert alert-success alert-dismissible" role="alert"
                                style="position: fixed; right: 450px; background: none; font-style: italic; top: 250px; width: 650px; font-size: 40px; padding: 2px; margin: auto; line-height: normal; color: red; border: none; text-shadow: rgb(255, 255, 0) 0px 0px 5px; display: none;">
                            </div>
                            <script type="text/javascript">
                                (function () {
                                    setTimeout(showTooltip, 1500)
                                })();

                                function showTooltip() {
                                    $('.alert-success').fadeOut();
                                }
                            </script>
                            <input type="hidden" name="APS_csrf_token" value="69500116fc1f935d9972e7be463b183a">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="full_name" class=" form-control " id="home-form-fullName"
                                        placeholder="Tên *" value="">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="formErrorCart" id="errorHomeFullName"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="number" name="phone" id="home-form-phone" class=" form-control "
                                        placeholder="Điện thoại *" value="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div class="formErrorCart" id="errorHomePhone"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" name="email" id="home-form-email" class=" form-control "
                                        placeholder="Email *" value="">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <div class="formErrorCart" id="errorHomeEmail"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="address" name="address" placeholder="Địa chỉ" value=""
                                        id="home-form-address">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <div class="formErrorCart" id="errorHomeAddress"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="comment" id="" rows="4" placeholder="Nội dung ..."></textarea>
                                </div>
                            </div>

                            <div class="col-md-12 vbm-text_center">
                                <button type="button" name="sendcontact" id="guiFrom" class="btn-pri smooth">Gửi
                                    tin</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


<script th:src="@{/web/js/home.js}"></script>